<div>
  <h2>XSLT Transformer</h2>
  <div class ="row">
    <label for="xmlFile">XML Datei hochladen:</label>
    <input type="file" id="xmlFile" (change)="onXmlFileSelected($event)" accept=".xml">
  </div>
  <div class ="row">
    <label for="xsltFile">XSL-Datei (nur, wenn nötig):</label>
    <input type="file" id="xsltFile" (change)="onXsltFileSelected($event)" accept=".xslt,.xsl">
  </div>
  <button (click)="transform()" [disabled]="!xmlContent">Umwandeln</button>
  <div>
    <h3>Ergebnis</h3>
    <div [innerHTML]="transformedContent"></div>
  </div>
</div>
