<div>
  <h2>XSLT Transformer</h2>
  <div>
    <label for="xmlFile">Upload XML File:</label>
    <input type="file" id="xmlFile" (change)="onXmlFileSelected($event)" accept=".xml">
  </div>
  <div>
    <label for="xsltFile">Upload XSLT File:</label>
    <input type="file" id="xsltFile" (change)="onXsltFileSelected($event)" accept=".xslt,.xsl">
  </div>
  <button (click)="transform()" [disabled]="!xmlContent || !xsltContent">Transform</button>
  <div>
    <h3>Transformed Result:</h3>
    <div [innerHTML]="transformedContent"></div>
  </div>
</div>
